{% extends 'base.html' %}

{% block conteudo %}
    <h2>Vendas</h2>

    {% for venda in vendas %}
        <ul>
        <li><h3>Venda - {{ venda.id }}</h3></li>
        <li>Cliente: {{ venda.cliente.nome }}</li>
        <li>Funcionário: {{ venda.vendedor.nome }}</li>
        <li>Data da Venda {{ venda.dataVenda|date:'d/m/Y'  }}</li>
        </ul>
        <h4>Itens</h4>
        <table>
          <tr>
            <th>Descrição</th>
            <th>Unidade</th>
              <th>Quantidade</th>
              <th>Valor Unitário</th>
              <th>Subtotal</th>
          </tr>
            {% for item in venda.vendaproduto_set.all %}
               <tr>
               <td>{{ item.produto.descricao }}</td>
                <td>{{ item.produto.unidade.descricao }}</td>
               <td>{{ item.quantidade }}</td>
               <td>{{ item.produto.valorUnitario }}</td>
               <td>{{item.subtotal }}</td>
               </tr>
            {% endfor %}
        </table>
    {% endfor %}


{% endblock %}